@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --primary-color: #f16c4f;
  --secondary-color: #dddddd;
}

html * {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgb(235, 235, 235);
}
